<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionToSql" connectionString="Server=.\SQLLOCALDB;Database=TaskList;Trusted_Connection=True;"
         providerName="System.Data.SqlClient"/>
    <add name="ConnectionToSQLite" connectionString="Data Source=C:\Users\root\source\repos\TaskList.1.0.2\TaskListV2.DataAccessNew\TaskListSQLLite.db; Version=3;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>